.charity-div
  height: auto
  flex: 1
  box-shadow: 0.1px 0.1px 0.1px 0.1px $blue4
  margin: 2px
  &:hover
    cursor: pointer
  .charity-info
    font-size: 16px
    font-family: $font
    display: inline-block
    padding: 10px
    color: $blue5
  .charity-date
    width: 120px
  .charity-sender
    width: 180px
    font-size: 18px
    text-align: center
    color: $blue4
  .charity-check-image
    display: block;
    margin: 0 auto;
    padding-top: 1em;
