.charity-div
  height: auto
  margin: 5px 2px
  max-width: 300px
  max-height: 300px
  box-shadow: 0.1px 0.1px 0.1px 0.1px $blue4
  text-align: center
  padding-bottom: 100px
  position: relative
  &:hover
    cursor: pointer
  .charity-info
    font-size: 16px
    font-family: $font
    display: inline-block
    padding: 10px
    color: $blue5
  .charity-date
    width: 120px
  .charity-sender
    width: 180px
    font-size: 18px
    text-align: center
    color: $blue4
  .charity-check-image
    display: block
    margin: auto
    text-align: center
    width: 25%
    border-radius: 50%
    cursor: pointer
    vertical-align: bottom
    position: absolute;
    bottom: 0;
    left: 37.5%;
