.dash-saved-roundups-wrapper
  background-color: #fff
  min-height: 50vh
  width: calc(100% - 100px)
  .dash-saved-roundups-header
    padding-bottom: 40px
    text-align: center
    font-size: 30px
    font-family: $font
    padding: 10px
    color: $blue3
  .dash-saved-roundups-div
  .dash-header
    margin-left: 50px
    text-align: center
    font-size: 35px
    font-weight: bold
    font-family: $font
    padding: 10px
    color: $blue3
