.dash-saved-vehicles-wrapper
  background-color: #fff
  min-height: 50vh
  padding: 20px
  .dash-saved-vehicles-header
    text-align: center
    font-size: 30px
    font-family: $font
    padding: 10px
    color: $blue3
  .dash-saved-vehicles-div
