.circle
  width: 200px
  height: 200px
  border-radius: 50%
  font-size: 35px
  color: #fff
  text-align: center
  line-height: 50px
  background: linear-gradient(to bottom,#A2D7B1 0%,#92AD32 100%)
  //A2D7B1 //92AD32
  //
  //A2D800 //92AFEC

  //92ADF9

  .place
    font-size: 25px
    padding-top: 20px
  .paid
    font-size: 25px
  .change
    font-size: 55px

.donation
  align-items: center
  padding: 30px
  font-family: $font
  .total-donation
    text-align: center
    padding-left: 85px
    color: $green3
    font-size: 36px

.charities
  display: flex
  font-family: $font
  flex-direction: column
  align-items: center

.charity
  color: $green1
  font-size: 25px
  font-family: $font

