@import 'style-guide.sass'

.accessories-header
  // font-family: $font
  text-align: center
  font-size: 36px
  padding: 40px

.accessories-select
  font-size: 18px
  height: 40px
  margin: 50px

.accessory-label
  // font-family: $font
  color: #333
  padding: 20px

.accessory-search
  padding: 20px
