.search-page
  padding-top: 100px

.search-button-block
  margin-left: calc(100% - 500px)

.form-section
  border-bottom: solid 1px $light-gray
  padding: 20px 20px 20px 60px

.form-section-heading
  text-align: left
  font-family: sans-serif
  font-size: 30px
  padding: 15px
  color: $light-gray

.field
  padding: 20px 0

.active
  .form-section-heading
    color: $gray

@media ( max-width: 500px )
  .search-button-block
    margin-left: 0
