@import '../style-guide.sass'

.basic-button
  border-radius: 8px
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)
  font-family: $font
  font-size: 19px
  padding: 12px
  text-decoration: none
  text-align: center
  margin: 40px
  &:hover
    cursor: pointer

//wide-button used for google + fb sign in buttons
.wide-button
  border-radius: 8px
  width: 300px
  height: 43px
  padding-left: 10px
  padding-top: 20px
  font-family: $font
  font-size: 20px
  text-align: center
  margin: 10px
  text-decoration: none

@media (max-width: 500px)
  .wide-button
    width: 200px
    height: 37px
    font-size: 16px
